services:
  knowledge-base:
    build: .
    container_name: knowledge-base
    environment:
      - ORIGINS=${ORIGINS:-localhost}
    restart: always
    develop:
      watch:
        - action: sync
          path: ./app
          target: /app
          ignore:
            - __pycache__/
        - action: rebuild
          path: requirements.txt

